.wrapper {
    width: 960px;
    margin: 0 auto;
}
.wrap {
    display: inline-flex;
}
.header1 {
    background-color: #777777;
    height: 109px;
    width: 123px;
    margin-top: 24px;
    margin-bottom: 23px;
    margin-right: 23px;
}
.header2 {
    background-color: #777777;
    height: 109px;
    width: 279px;
    margin-top: 24px;
    margin-right: 23px;
}
.header3 {
    background-color: #777777;
    height: 109px;
    width: 513px;
    margin-top: 24px;
    text-align: right;
    padding-right: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    box-sizing: border-box;
    }
.header3 >p {
    margin-bottom: 1px;
    margin-top: 5px;
}
.main {
    margin-top: 43px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.aside1 {
    background-color: #777777;
    height: 335px;
    width: 184px;
}
.aside2 {
    background-color: #777777;
    height: 132px;
    width: 184px;
    margin-top: 305px;
}
.content {
    margin-bottom: 23px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}
.content1 {
    background-color: #777777;
    height: 210px;
    width: 755px;
}
.content2 {
    background-color: #777777;
    height: 210px;
    width: 755px;
}